<div id="slide"> 
  
</div>
<po-container>
  <div class="form-group po-md-4">
    <img src="assets/imagem.png" width="300">
  </div>
  <div class="form-group po-md-8">
      <p class="home"> As principais funcionalidades de um ATS em uma ferramenta intuitiva e moderna </p>
      <ul>
        <li>Candidatos podem cadastrar seus currículos</li>
        <li>Candidatos se candidatam as vagas disponíveis</li>
        <li>DashBoards com nformações estratégicas sobre Vagas e Candidatos </li>
        
      </ul>
      Fazendo com que em pouco tempo, você encontre o candidato ideal para sua vaga de emprego.
    </div>  


</po-container>

<po-container>
  
  <div class="form-group po-md-12">
      <p class="home2"> Empresa que já utiliza o ATS </p>
         <img src="assets/totvs-logo.png" width="200" class="imghome">
    </div>  


</po-container>
<footer> Desenvolvido por: Karine Alessandra Córdova</footer>